* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oxanium', cursive;
    border-radius: 22px;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
    
}

body{
    text-align: center;
    background: linear-gradient(to bottom, rgb(116, 234, 255), rgb(255, 255, 255));
    min-height: 100vh;
}
.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon__image{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__data{
    position: absolute;
    font-weight: 600;
    color: #000000;
    top: 78.8%;
    right: 29%;
    font-size: clamp(8px, 5vw, 20px);
}

.pokemon__name{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 82%;
    top: 73.7%;
    left: 8.9%;
}

.input__serch{
    width: 100%;
    padding: 1%;
    outline: none;
    border: 1px solid black;
    border-radius: 100px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(2px, 5vw, 0.60rem);
    
}

.buttons{
    position: absolute;
    bottom: 12.2%;
    left: 12.5%;
    width: 8.7%;
    transform: translate(-10%, 0);
    display: flex;
    gap: 98%;
}

.button{
    width: 50%;
    padding: 10%;
    border: 1px solid #000000;
    border-radius: 0px;
    font-size: clamp(0px, 9vw, 0.5rem);
    font-weight: 600;
    color: rgb(0, 211, 211);
    background-color: #3a444d;
}

button:active{
   background-color: #3a444d00
}


